<div *ngIf="song">
    <input type="range" min="0" max="1" step="0.01" value="1" (input)="setVolume($event)" />

    <span style="position: relative; left: 0px; bottom: 2px">
        {{ (this.audio.volume * 10).toFixed() }}</span>

    <button mat-icon-button class="icon-display" color="primary" (click)="playSong()">Play</button>

    <button mat-icon-button class="icon-display" color="primary" (click)="pauseSong()">Pause</button>

    <button mat-icon-button class="icon-display" color="primary" (click)="stopSong()">Stop</button>

    <span style="float: left; padding: 0 10px 0 10px">
        -{{ getDisplayedTiempoRestante() }}</span>
    <span style="float: left; width: 90%">
        <form action="">
            <input style="width: 100%" type="range" min="0" max="{{ getDuration() }}" [value]="seek"
                (input)="setSeekTo($event)" />
        </form>
    </span>
    <span style="float: left; padding: 0 10px 0 10px">{{getDisplayedDuracionTotal()}}</span>
</div>