<div class="list_wrapp">
    <div class="artist_wrapp" style="background-image: url('https://image.europafm.com/clipping/cmsimages02/2022/04/26/2F395BF6-E5DE-4D1C-8D23-4740CB7E1BBB/aitana-coach-voz-kids_98.jpg?crop=1920,1080,x0,y0&width=1900&height=1069&optimize=high&format=webply')">
        <h2>Aitana</h2>
    </div>

    <div class="songs_wrapp">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Album</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let song of songs" (click)="onSelect(song)" [class.selected]="song === selectedSong">
                    <td>{{song.title}}</td>
                    <td>{{song.album}}</td>
                    <td>{{song.duration}} min</td>
                </tr>
            </tbody>    
        </table>
    </div>

    <div class="songs_detail">
        <app-song [song]="selectedSong"></app-song>
        <app-player [song]="selectedSong"></app-player>
    </div>
</div>